table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
.list_comp{
    width: 100%;
    display: flex;
    flex-direction: row;
}
  .section_one{
margin-left: 10px;
  }

  .inputbox{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .section_one input{
      height: 30px;
      width: 250px;
  }
  textarea{
      height: 100px;
      width: 250px;
  }

