table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
.list_comp{
    width: 100%;
    display: flex;
    flex-direction: row;
}
  .section_one{

     width: 100%;
     margin: 20px;
  }
 /*  .section_two{
      width: 40%;

      margin-top: 60px;
  } */
  .inputbox{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .inputbox button{

      margin-left: 5px!important;
  }
  .input_typebox{

   border-radius: 5px;
}
  textarea{
      height: 100px;
      width: 250px;
  }
  .buttonclass button{
    margin: 5px;
  }
  .Pagination{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 10px;
  }